<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{lang["Install FreeBSD"][cur_lang]}}</title>
		<link rel="stylesheet" href="/style">
	</head>
	<body>
		<div class="columns is-centered">
			<div class="column is-narrow">

				<h1 class="title">{{lang["Install FreeBSD"][cur_lang]}}</h1>

				<a href="/language">{{lang["Change language"][cur_lang]}}</a>

				<div class="category-box">
					<div>{{lang["Keymap:"][cur_lang]}} {{keymap_string}}</div>
					<a href="/keymap">{{lang["Change"][cur_lang]}}</a>
				</div>
				<div class="category-box">
					<div>{{network_string}}</div> <!--TODO rename these 'strings' -->
					<a href="/network">{{lang["Configure the network"][cur_lang]}}</a>
				</div>
				<div class="category-box">
					{% for dev, info in pairsByKeys(disks) do %}
						{% if selected_disks[dev] then %}
							<div>
								{{info["Disk descr."]}}
								({{info["mediasize in bytes human"]}})
							</div>
						{% end %}
					{% end %}
					<a href="/zfs">{{lang["Configure ZFS"][cur_lang]}}</a>
				</div>
				<div class="category-box">
					<table>
						<thead>
							<tr>
								<td>{{lang["Username"][cur_lang]}}</td>
								<td>{{lang["Full name"][cur_lang]}}</td>
								<td>{{lang["Groups"][cur_lang]}}</td>
								<td>{{lang["Shell"][cur_lang]}}</td>
								<td>{{lang["Password"][cur_lang]}}</td>
								<td></td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							{% for _, usr in ipairs(users) do %}
								<tr>
									<td>{{usr.username}}</td>
									<td>{{usr.full_name}}</td>
									<td>{{usr.groups}}</td>
									<td>{{usr.shell}}</td>
									<td>{{usr.password}}</td>
									<td><a href="/edituser/{{usr.username}}">{{lang["Edit"][cur_lang]}}</a></td>
									<td>
										<form action="/deleteuser/{{usr.username}}" method="POST">
											<input name="test" hidden></input> <!-- TODO: fix forms so that I can have empty submissions -->
											<button type="submit">{{lang["Delete"][cur_lang]}}</button>
										</form>
									</td>
								</tr>
							{% end %}
						</tbody>
					</table>
					<a href="/adduser">{{lang["Add user"][cur_lang]}}</a>
				</div>

				<form action="/install" method="POST">

					<div class="category-box">
						<div class="field">
							<div>{{lang["Hostname:"][cur_lang]}}</div>
							<div class="control">
								<input class="input" type="text" name="hostname" value="freebsd">
							</div>
						</div>
					</div>

					<div class="category-box">
						<div>Packages:</div>
						<label>
							<input type="checkbox" value="kernel" name="packages" checked>
								Kernel
							</input>
						</label>
						<label>
							<input type="checkbox" value="base" name="packages" checked>
								Base
							</input>
						</label>
						<label>
							<input type="checkbox" value="debug" name="packages">
								Debug
							</input>
						</label>
						<label>
							<input type="checkbox" value="lib32" name="packages">
								Lib32
							</input>
						</label>
						<label>
							<input type="checkbox" value="development" name="packages">
								Development
							</input>
						</label>
					</div>

					<div class="category-box">
						<div class="field">
							<label>
								{{lang["Root password:"][cur_lang]}}
								<input class="input" type="password" name="root_password"
								placeholder="{{lang["enter password..."][cur_lang]}}">
							</label>
							<!-- XXX If you ever uncomment these, please note that the <label> tags are used incorrectly.
							<label class="label">{{lang["Confirm root password:"][cur_lang]}}</label>
							<div class="control">
								<input class="input" type="password" name="confirm_root_password"
								placeholder="{{lang["confirm password..."][cur_lang]}}">
							</div>
							-->
						</div>
					</div>
					<!--
					<div class="category-box">
						<div class="field">
							<label class="label">Enabled services:</label>
							{% for _, svc in ipairs(service_menu) do %}
								<div class="control">
									<label class="checkbox">
										<input type="checkbox" name="{{svc.name}}"
											{{svc.default and "checked" or ""}}>
											{{svc.description}}
										</input>
									</label>
								</div>
							{% end %}
						</div>

						<div class="field">
							<label class="label">Security hardening:</label>
							{% for _, item in ipairs(hardening_menu) do %}
								<div class="control">
									<label class="checkbox">
										<input type="checkbox" name="{{item.name}}">
											{{item.description}}
										</input>
									</label>
								</div>
							{% end %}
						</div>
					</div>
					-->

					<div class="field">
						<div class="control">
							<button class="is-primary" type="submit" {{disabled(not ready)}}>{{lang["Install"][cur_lang]}}</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</body>
</html>
