<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{lang["Install FreeBSD"][cur_lang]}}</title>
		<link rel="stylesheet" href="/style">
	</head>
	<body>
		<div class="columns is-centered">
			<div class="column is-narrow">

				<h1 class="title">{{lang["Install FreeBSD"][cur_lang]}}</h1>

				<a href="/language">{{lang["Change language"][cur_lang]}}</a>

				<div class="category-box">
					<p>{{lang["Keymap:"][cur_lang]}} {{keymap_string}}</p>
					<a href="/keymap">{{lang["Change"][cur_lang]}}</a>
				</div>
				<div class="category-box">
					<a href="/network">{{lang["Configure the network"][cur_lang]}}</a>
				</div>
				<div class="category-box">
					<p>{{disk_string}}</p>
					<a href="/zfs">{{lang["Configure ZFS"][cur_lang]}}</a>
				</div>
				<div class="category-box">
					<table>
						<thead>
							<tr>
								<td>{{lang["Username"][cur_lang]}}</td>
								<td>{{lang["Full name"][cur_lang]}}</td>
								<td>{{lang["Groups"][cur_lang]}}</td>
								<td>{{lang["Shell"][cur_lang]}}</td>
								<td>{{lang["Password"][cur_lang]}}</td>
								<td></td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							{% for _, usr in ipairs(users) do %}
								<tr>
									<td>{{usr.username}}</td>
									<td>{{usr.full_name}}</td>
									<td>{{usr.groups}}</td>
									<td>{{usr.shell}}</td>
									<td>{{usr.password}}</td>
									<td><a href="/edituser/{{usr.username}}">{{lang["Edit"][cur_lang]}}</a></td>
									<td>
										<form action="/deleteuser/{{usr.username}}" method="POST">
											<input name="test" hidden></input> <!-- TODO: fix forms so that I can have empty submissions -->
											<button type="submit">{{lang["Delete"][cur_lang]}}</button>
										</form>
									</td>
								</tr>
							{% end %}
						</tbody>
					</table>
					<a href="/adduser">{{lang["Add user"][cur_lang]}}</a>
				</div>

				<form action="/install" method="POST">

					<div class="category-box">
						<div class="field">
							<label class="label">{{lang["Hostname:"][cur_lang]}}</label>
							<div class="control">
								<input class="input" type="text" name="hostname" value="freebsd">
							</div>
						</div>
					</div>

					<div class="category-box">
						<div class="field">
							<label class="label">{{lang["Extra distsets:"][cur_lang]}}</label>
							<div class="control">
								<div class="select is-multiple">
									<select multiple size="8" name="distsets">
										{% for _, dist in ipairs(distsets) do
											if dist.name ~= "base" and dist.name ~= "kernel" then %}
												<option {{selected(dist.sele)}} value="{{dist.file}}">
													{{dist.desc}} {{dist.sele and "*" or ""}}
												</option>
											{% end
										end %}
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="category-box">
						<div class="field">
							<label class="label">{{lang["Root password:"][cur_lang]}}</label>
							<div class="control">
								<input class="input" type="password" name="root_password"
								placeholder="{{lang["enter password..."][cur_lang]}}">
							</div>
							<label class="label">{{lang["Confirm root password:"][cur_lang]}}</label>
							<div class="control">
								<input class="input" type="password" name="confirm_root_password"
								placeholder="{{lang["confirm password..."][cur_lang]}}">
							</div>
						</div>
					</div>
					<!--
					<div class="category-box">
						<div class="field">
							<label class="label">Enabled services:</label>
							{% for _, svc in ipairs(service_menu) do %}
								<div class="control">
									<label class="checkbox">
										<input type="checkbox" name="{{svc.name}}"
											{{svc.default and "checked" or ""}}>
											{{svc.description}}
										</input>
									</label>
								</div>
							{% end %}
						</div>

						<div class="field">
							<label class="label">Security hardening:</label>
							{% for _, item in ipairs(hardening_menu) do %}
								<div class="control">
									<label class="checkbox">
										<input type="checkbox" name="{{item.name}}">
											{{item.description}}
										</input>
									</label>
								</div>
							{% end %}
						</div>
					</div>
					-->

					<div class="field">
						<div class="control">
							<button class="is-primary" type="submit">{{lang["Install"][cur_lang]}}</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</body>
</html>
