body {
	background-color:lightblue;
}

table {
	table-layout:fixed;
	border-collapse:collapse;
	width:100%;
}

p {
	margin:0;
}

.category-box {
	background-color:white;
	margin-top:10px;
	margin-bottom:10px;
}
