<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Install FreeBSD</title>
		<link rel="stylesheet" href="/style">
		<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
			<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/{{theme}}/bulmaswatch.min.css"> -->
	</head>
	<body>
		<script>

			function checkPassword () {
				if (document.getElementById("password").value ===
					document.getElementById("confirm_password").value) {
					document.getElementById("message").innerHTML = "Passwords match!";
					document.getElementById("submitbutton").disabled = false;
				} else {
					document.getElementById("message").innerHTML = "Passwords don't match";
					document.getElementById("submitbutton").disabled = true;
				}
			}
			function checkUsername (e) {
				//TODO write this function.
			}
			function startup () {
				let password = document.getElementById("password");
				password.addEventListener("input", checkPassword);

				let confirm_password = document.getElementById("confirm_password");
				confirm_password.addEventListener("input", checkPassword);

				let username = document.getElementById("username");
				username.addEventListener("input", checkUsername);
			}
			window.addEventListener("load", startup);

		</script>
		<div class="wrapper">
		
			<menu class="breadcrumbs">
				<a href="/">{{lang["Home"][cur_lang]}}</a> &gt; {{lang["Add user"][cur_lang]}}
			</menu>

				<header class="section">
					<h1 class="title">{{lang["Add user"][cur_lang]}}</h1>
				</header>

				<form action="/adduser" method="POST">
			<div class="section-box-nested">
				<div class="sub-box">
						<label>
							<span class="label">{{lang["Username"][cur_lang]}}</span>
							<input class="input" type="text" id = "username" name="username" required value = "{{orEmpty(username)}}" {{readonly(editing)}}
							    placeholder="username" pattern="^[a-z_]([a-z0-9_-]{0,31}|[a-z0-9_-]{0,30}\$)$" autocomplete="off">
						</label>

						<label>
							<span class="label">{{lang["Full name"][cur_lang]}}</span>
							<input class="input" type="text" name="full_name"
							    placeholder="real name" value="{{orEmpty(full_name)}}" required autocomplete="off">
						</label>
				</div>

				<div class="sub-box">
						<label>
							<span class="label">{{lang["Groups"][cur_lang]}}</span>
							<input class="input" type="text" name="groups"
							 placeholder="additional groups" value="{{orWheel(groups)}}" autocomplete="off">
						</label>

						<label>
							<span class="label">{{lang["Shell"][cur_lang]}}</span>
							<select name="shell">
								{% for _, shell in ipairs(shells) do %}
								<option value="{{shell}}" {{selected(shell == user_shell)}}>{{shell}}</option>
								{% end %}
							</select>
						</label>
				</div>

				<div class="sub-box">
						<label>
							<span class="label">{{lang["Password"][cur_lang]}}</span>
							<input class="input" type="password" name="password" id="password"
						            placeholder="password" required>
						</label>

						<label>
							<span class="label">{{lang["Confirm password"][cur_lang]}}</span>
							<input class="input" type="password" name="confirm_password" id="confirm_password"
							    placeholder="confirm password" required>
						<span id="message" class="input-message"></span>
						</label>
				</div>
			</div>
			<div class="section">
				<div class="field">
					<div class="control">
						<input id="submitbutton" class="button primary" type="submit" value="Apply" disabled>
					</div>
				</div>
			</div>
				</form>
		</div>
	</body>
</html>
